{{#if resume.education.length}}
<div class="container education-container">
  {{> title value="Education"}} {{#each resume.education}}
  <section class="item">
    {{> section-header name=this.institution website=this.url }}
    {{#if studyType}}
      <h5>{{studyType}}</h5>
    {{/if}}

    <p class="summary">{{#if area}}{{area}}{{/if}}{{#if specialization}}, <span class="specialization">{{specialization}}</span>{{/if}}{{#if gpa}} — {{gpa}}{{/if}}</p>

    {{#if courses.length}}
      <ul>
        {{#each courses}}
          <li>{{.}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
