<div class="info-tag-container">
  {{#if icon}}
    <i class="fa {{icon}}"></i>
  {{/if}}

  {{#if url}}
    <span class="info-text">
      <a href="{{url}}" target="_blank">
        {{removeProtocol text}} <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
    </span>
  {{else}}
    <span class="info-text">{{{text}}}</span>
  {{/if}}
</div>
